<!-- Main Sidebar Menu -->
<div id="menu" class="hidden-print hidden-xs sidebar-default sidebar-brand-primary">
    <div id="sidebar-social-wrapper">
        <div id="brandWrapper">
            <a href="index.html?lang=en"><span class="text">MovieMotion.in</span></a>
        </div>
        <ul class="menu list-unstyled">
            <li class="hasSubmenu active">
                <a href="#menu-cc8484a3105a4d767a2dea53c84eab64" data-toggle="collapse">
                <i class="icon-quotes"></i>
                <span>Article</span>
                </a>
                <ul class="collapse in" id="menu-cc8484a3105a4d767a2dea53c84eab64">
                    <li class="">
                        <a href="?module=admin&page=timeline_2&url_rewrite=&build=&v=v2.0.0-rc8&layout_fixed=false" class="no-ajaxify">
                        <i class="icon-add-symbol"></i>
                        <span>New Article</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="?module=admin&page=timeline_2&url_rewrite=&build=&v=v2.0.0-rc8&layout_fixed=true" class="no-ajaxify">
                        <i class="icon-bulleted-list"></i>
                        <span>My Articles</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="hasSubmenu active">
                <a href="#menu-58e15d2cf9d5beab6dddb4bd9d2a2b2a" data-toggle="collapse">
                <i class="icon-star-fill"></i>
                <span>Review</span>
                </a>
                <ul class="collapse in" id="menu-58e15d2cf9d5beab6dddb4bd9d2a2b2a">
                    <li class="">
                        <a href="index.html?lang=en">
                        <i class="icon-add-symbol"></i>
                        <span>New Review</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="timeline_2.html?lang=en">
                        <i class="icon-bulleted-list"></i>
                        <span>My Reviews</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- // Main Sidebar Menu END -->