<div id="menu-right">
    <div>
        <button class="btn btn-inverse btn-xs btn-close" data-toggle="sidr-close" data-menu="menu-right"><i class="fa fa-times"></i></button>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="mixitup" >
                    <ul>
                        <li class="category">Dashboard</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-primary"></span>Summary</a></li>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-primary"></span>Visits</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="category">Movies</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href="/a/movie/new"><span class="fa fa-fw fa-circle-o text-success"></span>New Movie</a></li>
                                    <li class="filter-chat"><a href="/a/movie/list"><span class="fa fa-fw fa-circle-o text-success"></span>All Movies</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="category">Productions</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href="/a/production/new"><span class="fa fa-fw fa-circle-o text-danger"></span>New Production</a></li>
                                    <li class="filter-chat"><a href="/a/production/list"><span class="fa fa-fw fa-circle-o text-danger"></span>All Productions</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="category border-bottom">Users</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href="/a/people/list/admin"><span class="fa fa-fw fa-circle-o text-warning"></span>Admins</a></li>
                                    <li class="filter-chat"><a href="/a/people/list/star"><span class="fa fa-fw fa-circle-o text-warning"></span>Stars</a></li>
                                    <li class="filter-chat"><a href="/a/people/list/critic"><span class="fa fa-fw fa-circle-o text-warning"></span>Critics</a></li>
                                    <li class="filter-chat"><a href="/a/people/list/reviewer"><span class="fa fa-fw fa-circle-o text-warning"></span>Reviewers</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="category">Publications</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href="/a/publication/new"><span class="fa fa-fw fa-circle-o text-info"></span>New Publication</a></li>
                                    <li class="filter-chat"><a href="/a/publication/list"><span class="fa fa-fw fa-circle-o text-info"></span>All Publications</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="category">Admin</li>
                        <li class="reset">
                            <div class="innerLR">
                                <ul>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-inverse"></span>Google Analytics</a></li>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-inverse"></span>Facebook App</a></li>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-inverse"></span>Twitter App</a></li>
                                    <li class="filter-chat"><a href=""><span class="fa fa-fw fa-circle-o text-inverse"></span>Google App</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>