<!DOCTYPE html>
<html class="<%= bodyClass %>" ng-app="mm">
    <head>
        <title>MovieMotion Manager</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES BACK-->
        <link rel="stylesheet" href="/backend/styles/bootstrap.css">
        <link rel="stylesheet" href="/backend/styles/dialogs.css">
        <link rel="stylesheet" href="/backend/styles/font-awesome.min.css">
        <link rel="stylesheet" href="/backend/styles/font.css">
        <link rel="stylesheet" href="/backend/styles/mm-app.css">
        <link rel="stylesheet" href="/backend/styles/toaster.css">
        <!--STYLES BACK END-->
    </head>
    <body class="<%= bodyClass %>">
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button': true}"></toaster-container>
        
        <%- body %>
        
        <!--SCRIPTS BACK-->
        <script src="/backend/js/sails.io.js"></script>
        <script src="/backend/js/jquery/libs/dependencies/jquery.js"></script>
        <script src="/backend/js/jquery/libs/dependencies/lodash.js"></script>
        <script src="/backend/js/ng/libs/dependencies/angular.min.js"></script>
        <script src="/backend/js/ng/libs/dependencies/sanitize-angular.min.js"></script>
        <script src="/backend/js/ng/libs/angular-animate.min.js"></script>
        <script src="/backend/js/ng/libs/angular-resource.min.js"></script>
        <script src="/backend/js/ng/libs/angular-route.min.js"></script>
        <script src="/backend/js/ng/libs/angular-translate.min.js"></script>
        <script src="/backend/js/ng/libs/dialogs.js"></script>
        <script src="/backend/js/ng/libs/toaster.js"></script>
        <script src="/backend/js/ng/libs/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="/backend/js/ng/controllers/movie.js"></script>
        <script src="/backend/js/ng/controllers/movies.js"></script>
        <script src="/backend/js/ng/directives/jquery-plugins.js"></script>
        <script src="/backend/js/ng/services/ socket.js"></script>
        <script src="/backend/js/ng/core.js"></script>
        <!--SCRIPTS BACK END-->
    </body>
</html>