<div class="innerAll">
    <div class="row">

        <div class="col-lg-9 col-md-8">
            <div class="input-group innerB">
                <input type="text" class="form-control " placeholder="Search {{FLC.type}}">
                <div class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
            </div>
            <div class="row row-merge">
                <div class="col-md-12 col-lg-6 bg-white border-bottom" ng-repeat="item in FLC.listItems">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="media">
                                <a class="pull-left margin-none" href="/{{item.slug}}">
                                <img class="img-clean" src="/media/{{item.slug}}/small/{{item.displayPic}}" alt="{{item.name}} thumbnail image">
                                </a>
                                <div class="media-body innerAll inner-2x padding-right-none padding-bottom-none">
                                    <h4 class="media-heading"><a href="/{{item.slug}}" class="text-inverse"> {{item.name}} </a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="widget">
                <h5 class="innerAll margin-none border-bottom bg-gray">Sponsered Feeds</h5>
                <div class="widget-body padding-none">
                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                            </a>
                            <h5 class="margin-none"><a href="" class="text-inverse">Social Admin Released</a></h5>
                            <small>on February 2nd, 2014 </small> 
                        </div>
                    </div>
                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                            </a>
                            <h5 class="margin-none"><a href="" class="text-inverse">Timeline Cover Page</a></h5>
                            <small>on February 2nd, 2014 </small> 
                        </div>
                    </div>
                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                            </a>
                            <h5 class="margin-none"><a href="" class="text-inverse">1000+ Sales</a></h5>
                            <small>on February 2nd, 2014 </small> 
                        </div>
                    </div>
                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                            </a>
                            <h5 class="margin-none"><a href="" class="text-inverse">On-Page Optimization</a></h5>
                            <small>on February 2nd, 2014 </small> 
                        </div>
                    </div>
                    <div class="media border-bottom innerAll margin-none">
                        <img src="../assets/images/people/35/22.jpg" class="pull-left media-object">
                        <div class="media-body">
                            <a href="" class="pull-right text-muted innerT half">
                            <i class="fa fa-comments"></i> 4
                            </a>
                            <h5 class="margin-none"><a href="" class="text-inverse">14th Admin Template</a></h5>
                            <small>on February 2nd, 2014 </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
