<!-- Main Container Fluid -->
<div class="container-fluid menu-hidden <%= classes %>">
<!-- Content START -->
<div id="content">
<!-- <div class="layout-app col-fs">  -->
<div class="layout-app col-fs">
    <div class="row row-app">
        <div class="col-md-12">
            <div class="col-separator col-separator-first box col-unscrollable col-fs">
                <div class="col-table">
                    <div class="col-table-row">
                        <div class="col-app col-unscrollable tab-content">
                            <div class="col-app lock-wrapper lock-bg-1 tab-pane active animated fadeIn" id="lock-1-1">
                                <h3 class="text-white innerB text-center">Account Access</h3>
                                <div class="lock-container">
                                    <div class="innerAll text-center">
                                        <img src="/images/designs/user-alt.png" class="img-circle"/>
                                        <br>
                                        <a href="/auth/twitter/" class="btn btn-primary btn-icon-stacked">
                                            <i class="fa fa-twitter"></i> 
                                            <span>Join using your Twitter Account</span>
                                        </a>
                                        <br>
                                        <a href="/auth/google/" class="btn btn-danger btn-icon-stacked">
                                            <i class="fa fa-google-plus"></i>
                                            <span>Join using your Google Account</span>
                                        </a>
                                        <br>
                                        <a href="/auth/facebook/" class="btn btn-info btn-icon-stacked">
                                            <i class="fa fa-facebook"></i> 
                                            <span>Join using your Facebook Account</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>