<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <a class="nav-brand" href="/">MovieMotion</a>
    <div class="row m-n">
        <div class="col-md-4 col-md-offset-4 m-t-lg">
            <section class="panel">
                <form action="index.html" class="panel-body">
                    <div class="line line-dashed"></div>
                    <a href="/auth/facebook/" target="_self" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
                    <div class="line line-dashed"></div>
                    <a href="/auth/google/" target="_self" class="btn btn-gplus btn-block m-b-sm"><i class="fa fa-google-plus pull-left"></i>Sign in with Google</a>
                    <div class="line line-dashed"></div>
                    <a href="/auth/twitter/" target="_self" class="btn btn-twitter btn-block m-b-sm"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>
                    <div class="line line-dashed"></div>
                </form>
            </section>
        </div>
    </div>
</section>

<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>A hosted CMS solution for movies.<br>&copy; MovieMotion 2014</small>
        </p>
    </div>
</footer>