<section class="vbox">
    <!-- .header -->
    <%- partial('../partials/header') %>
    <!-- /.header -->

    <section class="w-f">
        <section class="hbox stretch">

            <!-- .aside -->
            <%- partial('../partials/aside-left') %>
            <!-- /.aside -->

            <!-- .vbox -->
            <%- partial('../partials/content') %>
            <!-- /.vbox -->
        </section>
    </section>
</section>