<section class="panel">
    <form>
        <input type="text" class="form-control input-lg no-border" rows="2" placeholder="Article Title"></input>
    </form>
    <div class="markdown-holder clearfix">
        <div class="col-xs-6">
            
        </div>
        <div class="col-xs-6">
            
        </div>
    </div>
    <footer class="panel-footer bg-light lter">
        <div class="pull-right">
            <button class="btn btn-success">SAVE</button>
            <button class="btn btn-info">PUBLISH</button>
        </div>
        <ul class="nav nav-pills">
            <li><a href="#"><i class="fa fa-location-arrow"></i></a></li>
            <li><a href="#"><i class="fa fa-camera"></i></a></li>
            <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
            <li><a href="#"><i class="fa fa-microphone"></i></a></li>
        </ul>
    </footer>
</section>
