<section class="panel">
    <header class="panel-heading">
        Movies
    </header>

    <div class="table-responsive">
        <table class="table table-striped b-t text-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in movies">
                    <td>{{ $index }}</td>
                    <td><a href="/{{ movie.slug }}" target="_blank"> {{ movie.name }} </a></td>
                    <td><a href="/admin/edit/movie/{{movie.id}}">Edit</a></td>
                    <td><a href="#" ng-click="MoviesCtrl.delete( movie.id, movie.name )">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>