<section class="panel">
	<header class="panel-heading font-bold">                  
		Movie {{ name }}
	</header>
	<div class="panel-body">
		<form class="form-horizontal" name="movieForm" novalidate ng-submit="MovieCtrl.submitMovie(movieForm.$valid)">
			
			<input type="hidden" ng-model="movie.id">

			<div class="form-group" ng-class="{'has-error': movieForm.name.$invalid && !movieForm.name.$pristine}">
				<label class="col-md-2 control-label">
					Name
					<span class="mandatory">*</span>
				</label>
				<div class="col-md-10">
					<input type="text" name="name" ng-model="movie.name" class="form-control" required>
				</div>
			</div>

			<div class="line line-dashed line-lg pull-in"></div>
			
			<div class="form-group" ng-class="{'has-error': movieForm.slug.$invalid && !movieForm.slug.$pristine}">
				<label class="col-md-2 control-label">
					URL
					<span class="mandatory">*</span>
				</label>
				<div class="col-md-3">
					<input type="text" disabled class="form-control" value="http://www.moviemotion.in/">
				</div>
				<div class="col-md-5">
					<input type="text" 
							name="slug" movie
							placeholder="Page-Name" 
							ng-model="movie.slug" 
							ng-pattern="/^[a-z0-9-]+$/"
							required 
							ng-keyup="checkSlug()"
							ng-disabled="movie.id" 
							class="form-control">
					<p class="small">Should not contain spaces, _ or any special character.</p>
				</div>
				<div class="col-md-2">
					<span ng-show="slugAvailable == 'avail' " class="label bg-success">Available</span>
					<span ng-show="slugAvailable == 'not-avail' " class="label bg-danger">Not Available</span>
				</div>
			</div>
			
			<div class="line line-dashed line-lg pull-in"></div>

			<div class="form-group" ng-class="{'has-error': movieForm.date.$invalid && !movieForm.date.$pristine}">
				<label class="col-md-2 control-label">
					Release Date
					<span class="mandatory">*</span>
				</label>
				<div class="col-md-4">
					<p class="input-group">
						<input type="text" 
								class="form-control" 
								datepicker-popup="MMMM dd, yyyy" 
								ng-model="movie.releaseDate"
								is-open="opened" 
								ng-required="true" 
								required 
								name="date" 
								close-text="Close" />
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>

			<div class="line line-dashed line-lg pull-in"></div>
			
			<div class="form-group">
				<label class="col-md-2 control-label">Twitter Handle</label>
				<div class="col-md-10">
					<div class="input-group m-b">
						<span class="input-group-addon">@</span>
						<input type="text" class="form-control" placeholder="handle" ng-model="movie.handle">
					</div>
				</div>
			</div>

			<div class="line line-dashed line-lg pull-in"></div>
			
			<div class="form-group">
				<label class="col-md-2 control-label">Twitter Hash</label>
				<div class="col-md-10">
					<div class="input-group m-b">
						<span class="input-group-addon">#</span>
						<input type="text" class="form-control" placeholder="hash" ng-model="movie.hash">
					</div>
				</div>
			</div>
			
			<div class="line line-dashed line-lg pull-in"></div>
			
			<div class="form-group">
				<div class="col-md-4 col-md-offset-2">
					<a href="/admin/movies" class="btn btn-white">Cancel</a>
					<button type="submit" ng-disabled="processing || !movieForm.$valid" class="btn btn-primary">Save changes</button>
				</div>
			</div>

		</form>
	</div>
</section>