<aside class="aside bg-dark dk nav-vertical" id="nav">
    <section class="vbox">
        <section class="scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px">
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li>
                            <a href="/admin/reviews">
                                <i class="fa fa-star-half-o"></i>
                                <span>Reviews</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/articles">
                                <i class="fa fa-pencil"></i>
                                <span>Articles</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </section>
</aside>